<nav class="navbar navbar-expand navbar-light bg-info">
    
    <div class="nav navbar-nav">
        
        <a class="nav-item nav-link active text-white" >Olva Courier<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link text-white" routerLink="listar-empleado">Lista de usuarios</a>
        <a class="nav-item nav-link text-white" routerLink="agregar-empleado">Agregar nuevo usuario</a>
        <a class="nav-item nav-link text-white" href="#">Salir</a> 
        
    </div>
</nav>

<div class="container mt-3">
   
    <router-outlet></router-outlet>    
</div>
